body {
	font-family: sans-serif;
	font-size: 8vw;
	display: flex;
	flex-direction: column;
	height: 805px;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-repeat: no-repeat;
}


